{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
  },
  "plugins": [
    "react"
  ]
}
