**/node_modules/*
**/build/*
**/docs/*
**/bin/*
**/.next/*
**/out/*
**/dist/*
**/public/*
packages/react-icons/lib/
packages/react-icons/build/
packages/react-icons/src/icons/*
!packages/react-icons/src/icons/index.js
packages/_react-icons_all/
packages/_react-icons_all-files/
