[submodule "fontawesome"]
	path = v3/packages/react-icons-set/src/icons/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
	shallow = true
[submodule "material-design-icons"]
	path = v3/packages/react-icons-set/src/icons/material-design-icons
	url = https://github.com/google/material-design-icons.git
	shallow = true
[submodule "typicons"]
	path = v3/packages/react-icons-set/src/icons/typicons
	url = https://github.com/stephenhutchings/typicons.font.git
	shallow = true
[submodule "ionicons"]
	path = v3/packages/react-icons-set/src/icons/ionicons
	url = https://github.com/ionic-team/ionicons.git
	shallow = true
