.yarn
node_modules
/dist/

/packages/_react-icons_all
/packages/_react-icons_all-files

/packages/react-icons/build
/packages/react-icons/icons/*
!/packages/react-icons/icons/index.ts

/packages/preview/.next
/packages/preview/out/

/lerna.json
