* {
  box-sizing: border-box;
}

:root {
  --color-brand: #e91e63;
  --color-link: #1971c2;
  --color-brand-rgb: 233, 30, 99;
  --color-black: #172b4d;
  --color-white: #ffffff;
  --color-gray-0: #fbfbfb;
  --color-gray-1: #f4f5f7;
  --color-gray-2: #eaecef;
  --color-gray-3: #cbcdd4;
  --color-gray-4: #808289;
  --sidebar-width: 18rem;
  --border-radius-md: 6px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-black);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre.astro-code {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: var(--space-2);
  padding-top: var(--space-1);
}
