@import "~basscss/css/basscss.min.css";
@import "core";
@import "components";

/*
@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--color-gray-8);
    color: var(--color-white);
  }
}
*/
