.btn-close {
  cursor: pointer;
  background: var(--color-gray-1);
  float: right;
  border: 0;
  height: 1.8em;
  width: 1.8em;
  border-radius: 1em;
  font-size: 1.5em;
  &:hover {
    background: var(--color-gray-2);
  }
}
